name: Dev, on PUSH Java CI/CD of cloud-config-ecommerce-boot

on:
  push:
    branches: [ develop ]

jobs:
  build_push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven
    - name: Build cloud-config module only
      run: mvn -B package -pl cloud-config -am -DskipTests
    - name: Docker Login
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
    - name: Build Docker image for cloud-config
      run: docker build -f cloud-config/Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/cloud-config-ecommerce-boot:${{ secrets.PROJECT_VERSION }}dev .
    - name: Push cloud-config image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/cloud-config-ecommerce-boot:${{ secrets.PROJECT_VERSION }}dev
