name: Dev, on Pull Request Java CI/CD of cloud-config-ecommerce-boot

on:
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven
    - name: Build cloud-config module
      run: |
        mvn clean install -DskipTests -pl cloud-config -am
        mvn test -pl cloud-config
